body {
	margin: 0
	padding: 0;
	box-sizing: border-box;
}

#data {
	position: relative;
	top: 10vh;
	width: 95%;
	margin: auto;
	margin-bottom: 70px;
	border: 1px solid grey;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#data h3 {
	width: 90%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 20px;
	text-align: center;
}

#data h5 {
	width: 90%;
	font-size: 16px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	opacity: 0.4;
}

#calculator {
	width: 95%;
	margin: auto;
	display: flex;
	flex-direction: row;
	padding: 5px;
	justify-content: center;
}

.extra {
	width: 95%;
	margin: auto;
}

#assets {
	padding: 5px;
	margin-right: 20px;
	width: 40%;
}

#liabilities {
	margin-left: 20px;
	padding: 5px;
	width: 40%;
}

#assets p, #liabilities p {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#displayWorth {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding: 5px;
	margin: 30px auto 20px auto;
	font-size: 16px;
	font-weight: bold;
}

#reset-div,#storeData-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding: 5px;
	margin: 20px auto;
}

#reset {
	background-color: rgba(255,0,0,0.8);
	color: white;
	border-radius: 10px;
	width: 164px;
	height: 40px;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 22px;
	border-color:rgb(255,0,0);
	outline: none;
	cursor: pointer;
}

#storeData {
	background-color: rgba(0,179,0,0.8);
	color: white;
	border-radius: 10px;
	width: 164px;
	height: 40px;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 22px;
	border-color: #00B300;
	outline: none;
	cursor: pointer;
}

#reset:hover {
	background-color: transparent;
	color: rgb(255,0,0,0.8);
}

#storeData:hover  {
	background-color: transparent;
	color: #00B300;
}

#rule {
	border: 1px solid #00B300;
	width: 168px;
}

.entry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.entry label {
	font-size: 18px;
}

#assets input, #liabilities input {
	border: 1px solid grey;
	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
	outline: none;
	height: 25px;
}

#assets input:focus, #liabilities input:focus {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

#moreAssets button, #moreLiabilities button {
	background: rgba(192,192,192,0.9);
	outline: none;
}

#moreAssets button:hover, #moreLiabilities button:hover {
	color: #00B300;;
}

#moreAssets, #moreLiabilities {
}

.addItems {
	margin-top: 15px;
	margin-bottom: 15px;

}

#justAssets, #justLiabilities {
	display: none;
}

#totalAssets, #totalLiabilities {
	margin-top: 35px;
	margin-bottom: 15px;
	font-size: 16px;
}

#worth {

}

@media screen and (max-width: 900px) {
	#calculator {
		flex-direction: column;
	}

	#assets, #liabilities {
		border: 1px solid grey;
		width: 90%;
		margin: auto;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}

	#assets {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 600px) {
	#data h3 {
		font-size: 18px;
	}

	#data h5 {
		font-size: 14px;
	}
}
